.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    height: 500px;
}
.recipies-section{
    text-align: center;
}
.recipie-text{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}
#margin-bttm{
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
p{
    text-align:justify;  
}
.abt{
    padding-bottom: 40px;
}
#me{
    margin: 0;
    padding-top: 120px;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.burger-img{
    padding-left: 50px;
}
.half-width-about{
    width: 50%;
    padding-left: 5%;
    padding-right: 8%;
}
div{
    display: block;
}
.healthy-food{
    font-size:20px;
    padding-bottom: 20px;
}
.half-width{
    width: 50%;
}

.just-eat{
    font-size: 60px;
    font: bold;
    padding-top: 150px;
}
.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 25px;
    background-image: linear-gradient(lightsalmon ,rgb(233, 88, 62));
    color: white;
    font-weight: 500;
}
.orange-color{
    color: orange;
}

.skip-diet{
    display: flex;
    margin: 3%;
}
.recipie-title{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.one-third-width{
    width: 33%;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 10px;

}
.rwidth{
    width: 100%;
}
.recipies-makeup{
    text-align: center;
}
.info{
    display: flex;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    border-radius: 20px;
    padding-top: 20px;
    margin-right: 90px;
    margin-left: 80px;
    background-color: rgb(202, 224, 231);
}
.popular{
    width: 33%;
    text-align: center;
}
.p-text{
    text-align: center;
    padding-left: 100px;
}
footer{
    background-color: rgb(29, 28, 28);
    text-align: center;
    padding-top: 30px;
    height: 150px;
}
.gray-color{
    color:gray;
}
.footer-text{
    text-align: center;
    color:whitesmoke;
}
.newsletter{
    text-align: center;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    height: 220px;
}
.letter{
    text-align: center;
}
.box{
    color: rgb(144, 176, 218);
    padding: 5px;
    border-radius: 10px;
    border: 5px solid;
    width:20%;
}
.subs{
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    color:rgb(9, 204, 230);
}
.submit-btn{
        text-decoration: none;
        background-color: gray;
        padding: 10px 30px;
        border-radius: 10px;
        background-image: linear-gradient(rgb(95, 113, 124) ,rgb(34, 114, 168));
        color: white;
        font-weight: 500;
    
}